In [1]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, MaxPooling2D, Flatten
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
tf.__version__

'2.0.0'

# preparing training dataframe

In [3]:
training_set = pd.read_csv('train.csv')

In [4]:
training_set

          id  label
0          1      9
1          2      0
2          3      0
3          4      3
4          5      0
...      ...    ...
59995  59996      5
59996  59997      1
59997  59998      3
59998  59999      0
59999  60000      5

[60000 rows x 2 columns]

In [5]:
training_img = ["{}.png".format(x) for x in list(training_set.id)]

In [6]:
training_label = list(training_set.label)

In [7]:
dict = {'Images': training_img,
       'labels': training_label}

In [8]:
training_set = pd.DataFrame(dict)

In [9]:
training_set

          Images  labels
0          1.png       9
1          2.png       0
2          3.png       0
3          4.png       3
4          5.png       0
...          ...     ...
59995  59996.png       5
59996  59997.png       1
59997  59998.png       3
59998  59999.png       0
59999  60000.png       5

[60000 rows x 2 columns]

In [10]:
training_set.Images = training_set.Images.astype(str)
training_set.labels = training_set.labels.astype(str)

In [11]:
training_set.dtypes

Images    object
labels    object
dtype: object

# preparing test dataframe

In [51]:
test_set = pd.read_csv('test.csv')

In [52]:
test_img = ["{}.png".format(x) for x in list(test_set.id)]

In [53]:
dict2 = {'id':test_img}

In [54]:
test_set = pd.DataFrame(dict2)

In [55]:
test_set

             id
0     60001.png
1     60002.png
2     60003.png
3     60004.png
4     60005.png
...         ...
9995  69996.png
9996  69997.png
9997  69998.png
9998  69999.png
9999  70000.png

[10000 rows x 1 columns]

In [56]:
len(test_set)

10000

# preprocessing the tarining image

In [20]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [21]:
train_datagen = ImageDataGenerator(rescale=1./255,
                                  shear_range=0.2,
                                  zoom_range=0.2,
                                  horizontal_flip=True)

In [22]:
train_generator = train_datagen.flow_from_dataframe(training_set,
                                                   directory='train',
                                                   x_col='Images',
                                                   y_col='labels',
                                                   class_mode='categorical',
                                                   target_size=(64,64),
                                                   batch_size=32)

Found 60000 validated image filenames belonging to 10 classes.

# building convolution neural network

In [23]:
classifier = Sequential()

In [24]:
#first convolutional layer
classifier.add(Conv2D(filters=56, kernel_size=(3,3), activation='relu',
                     input_shape=(64,64,3)))
classifier.add(MaxPooling2D(pool_size=(2,2)))

#second convolution layer
classifier.add(Conv2D(32,(3,3), activation='relu'))
classifier.add(MaxPooling2D(pool_size=(2,2)))

In [25]:
#flattening
classifier.add(Flatten())

In [26]:
#hidden layer
classifier.add(Dense(units=64,activation='relu'))

#output layer
classifier.add(Dense(units=10, activation='softmax'))

In [27]:
classifier.compile(optimizer = 'adam', loss='categorical_crossentropy', 
                   metrics=['categorical_accuracy','accuracy'])

In [28]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 62, 62, 56)        1568
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 31, 31, 56)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 29, 29, 32)        16160
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 14, 14, 32)        0
_________________________________________________________________
flatten (Flatten)            (None, 6272)              0
_________________________________________________________________
dense (Dense)                (None, 64)                401472
_________________________________________________________________
dense_1 (Dense)              (None, 10)                650
=================================================================
Total params: 419,850
Trainable params: 419,850
Non-trainable params: 0
_________________________________________________________________

# training

In [29]:
classifier.fit_generator(train_generator, epochs=50, steps_per_epoch=60)

Epoch 1/50
60/60 [==============================] - 12s 196ms/step - loss: 1.2588 - categorical_accuracy: 0.5464 - accuracy: 0.5464
Epoch 2/50
60/60 [==============================] - 11s 191ms/step - loss: 0.7303 - categorical_accuracy: 0.7375 - accuracy: 0.73756s - loss: 0.7122 - categorical_ac
Epoch 3/50
60/60 [==============================] - 11s 187ms/step - loss: 0.6775 - categorical_accuracy: 0.7479 - accuracy: 0.74790s - loss: 0.6848 - categorical_accuracy: 0.7446 - accuracy: 0.74
Epoch 4/50
60/60 [==============================] - 11s 190ms/step - loss: 0.6301 - categorical_accuracy: 0.7776 - accuracy: 0.7776
Epoch 5/50
60/60 [==============================] - 12s 199ms/step - loss: 0.5892 - categorical_accuracy: 0.7901 - accuracy: 0.7901
Epoch 6/50
60/60 [==============================] - 12s 193ms/step - loss: 0.6148 - categorical_accuracy: 0.7786 - accuracy: 0.7786
Epoch 7/50
60/60 [==============================] - 12s 198ms/step - loss: 0.5364 - categorical_accuracy: 0.8021 - accuracy: 0.8021
Epoch 8/50
60/60 [==============================] - 12s 207ms/step - loss: 0.5128 - categorical_accuracy: 0.8104 - accuracy: 0.81042s - loss: 0.5291 - categorical_accuracy: 0.8050 - accura
Epoch 9/50
60/60 [==============================] - 12s 194ms/step - loss: 0.5211 - categorical_accuracy: 0.8089 - accuracy: 0.8089
Epoch 10/50
60/60 [==============================] - 12s 206ms/step - loss: 0.5196 - categorical_accuracy: 0.8078 - accuracy: 0.8078
Epoch 11/50
60/60 [==============================] - 14s 226ms/step - loss: 0.5160 - categorical_accuracy: 0.8083 - accuracy: 0.8083
Epoch 12/50
60/60 [==============================] - 13s 216ms/step - loss: 0.5105 - categorical_accuracy: 0.8156 - accuracy: 0.8156
Epoch 13/50
60/60 [==============================] - 12s 200ms/step - loss: 0.5348 - categorical_accuracy: 0.8130 - accuracy: 0.81306s - loss: 0.4700 - categorical_acc
Epoch 14/50
60/60 [==============================] - 13s 214ms/step - loss: 0.4771 - categorical_accuracy: 0.8193 - accuracy: 0.8193
Epoch 15/50
60/60 [==============================] - 12s 205ms/step - loss: 0.5104 - categorical_accuracy: 0.8120 - accuracy: 0.8120
Epoch 16/50
60/60 [==============================] - 13s 217ms/step - loss: 0.4755 - categorical_accuracy: 0.8302 - accuracy: 0.8302
Epoch 17/50
60/60 [==============================] - 13s 210ms/step - loss: 0.4229 - categorical_accuracy: 0.8391 - accuracy: 0.8391
Epoch 18/50
60/60 [==============================] - 12s 200ms/step - loss: 0.4580 - categorical_accuracy: 0.8323 - accuracy: 0.8323
Epoch 19/50
60/60 [==============================] - 12s 203ms/step - loss: 0.4555 - categorical_accuracy: 0.8286 - accuracy: 0.8286
Epoch 20/50
60/60 [==============================] - 12s 205ms/step - loss: 0.4686 - categorical_accuracy: 0.8354 - accuracy: 0.8354
Epoch 21/50
60/60 [==============================] - 13s 210ms/step - loss: 0.4485 - categorical_accuracy: 0.8427 - accuracy: 0.8427
Epoch 22/50
60/60 [==============================] - 12s 207ms/step - loss: 0.4088 - categorical_accuracy: 0.8448 - accuracy: 0.8448
Epoch 23/50
60/60 [==============================] - 12s 208ms/step - loss: 0.3950 - categorical_accuracy: 0.8573 - accuracy: 0.8573
Epoch 24/50
60/60 [==============================] - 12s 207ms/step - loss: 0.4195 - categorical_accuracy: 0.8411 - accuracy: 0.8411
Epoch 25/50
60/60 [==============================] - 12s 206ms/step - loss: 0.4287 - categorical_accuracy: 0.8411 - accuracy: 0.8411
Epoch 26/50
60/60 [==============================] - 13s 214ms/step - loss: 0.4321 - categorical_accuracy: 0.8510 - accuracy: 0.8510
Epoch 27/50
60/60 [==============================] - 13s 214ms/step - loss: 0.4391 - categorical_accuracy: 0.8333 - accuracy: 0.8333
Epoch 28/50
60/60 [==============================] - 13s 211ms/step - loss: 0.4360 - categorical_accuracy: 0.8490 - accuracy: 0.8490
Epoch 29/50
60/60 [==============================] - 13s 217ms/step - loss: 0.4186 - categorical_accuracy: 0.8510 - accuracy: 0.8510
Epoch 30/50
60/60 [==============================] - 13s 210ms/step - loss: 0.3764 - categorical_accuracy: 0.8609 - accuracy: 0.8609
Epoch 31/50
60/60 [==============================] - 13s 215ms/step - loss: 0.4617 - categorical_accuracy: 0.8224 - accuracy: 0.8224
Epoch 32/50
60/60 [==============================] - 13s 213ms/step - loss: 0.3870 - categorical_accuracy: 0.8562 - accuracy: 0.8562
Epoch 33/50
60/60 [==============================] - 13s 210ms/step - loss: 0.3954 - categorical_accuracy: 0.8599 - accuracy: 0.8599
Epoch 34/50
60/60 [==============================] - 13s 208ms/step - loss: 0.4201 - categorical_accuracy: 0.8568 - accuracy: 0.8568
Epoch 35/50
60/60 [==============================] - 13s 223ms/step - loss: 0.3990 - categorical_accuracy: 0.8552 - accuracy: 0.8552
Epoch 36/50
60/60 [==============================] - 14s 227ms/step - loss: 0.3703 - categorical_accuracy: 0.8677 - accuracy: 0.8677
Epoch 37/50
60/60 [==============================] - 13s 216ms/step - loss: 0.3827 - categorical_accuracy: 0.8656 - accuracy: 0.8656
Epoch 38/50
60/60 [==============================] - 13s 218ms/step - loss: 0.3785 - categorical_accuracy: 0.8604 - accuracy: 0.8604
Epoch 39/50
60/60 [==============================] - 13s 221ms/step - loss: 0.3883 - categorical_accuracy: 0.8583 - accuracy: 0.8583
Epoch 40/50
60/60 [==============================] - 13s 216ms/step - loss: 0.3838 - categorical_accuracy: 0.8536 - accuracy: 0.8536
Epoch 41/50
60/60 [==============================] - 13s 223ms/step - loss: 0.3513 - categorical_accuracy: 0.8698 - accuracy: 0.8698
Epoch 42/50
60/60 [==============================] - 13s 225ms/step - loss: 0.3631 - categorical_accuracy: 0.8589 - accuracy: 0.8589
Epoch 43/50
60/60 [==============================] - 13s 222ms/step - loss: 0.3617 - categorical_accuracy: 0.8672 - accuracy: 0.8672
Epoch 44/50
60/60 [==============================] - 14s 232ms/step - loss: 0.3999 - categorical_accuracy: 0.8521 - accuracy: 0.8521
Epoch 45/50
60/60 [==============================] - 14s 233ms/step - loss: 0.3704 - categorical_accuracy: 0.8641 - accuracy: 0.8641
Epoch 46/50
60/60 [==============================] - 15s 245ms/step - loss: 0.3444 - categorical_accuracy: 0.8755 - accuracy: 0.8755
Epoch 47/50
60/60 [==============================] - 14s 229ms/step - loss: 0.3570 - categorical_accuracy: 0.8661 - accuracy: 0.8661
Epoch 48/50
60/60 [==============================] - 14s 231ms/step - loss: 0.3618 - categorical_accuracy: 0.8609 - accuracy: 0.8609
Epoch 49/50
60/60 [==============================] - 14s 235ms/step - loss: 0.3715 - categorical_accuracy: 0.8641 - accuracy: 0.8641
Epoch 50/50
60/60 [==============================] - 14s 236ms/step - loss: 0.3531 - categorical_accuracy: 0.8677 - accuracy: 0.8677

In [32]:
from tensorflow.keras.preprocessing import image

In [33]:
Y_predic = []
for i in range(len(test_set)):
    img = image.load_img(path='test/{}'.format(test_set.Images[i]), target_size=(64,64,3))
    img = image.img_to_array(img)
    img_test = img.reshape((1,64,64,3))
    classifier.predict_classes(img_test)
    Y_predic.append(classifier.predict_classes(img_test))

In [57]:
test_set['labels']=Y_predic

In [58]:
test_set

             id labels
0     60001.png    [9]
1     60002.png    [2]
2     60003.png    [1]
3     60004.png    [1]
4     60005.png    [6]
...         ...    ...
9995  69996.png    [9]
9996  69997.png    [1]
9997  69998.png    [8]
9998  69999.png    [1]
9999  70000.png    [5]

[10000 rows x 2 columns]

In [59]:
test_set.to_csv('sample_submission.csv')